<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/dialect">
<!--xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">-->
<head id="headerFragment" th:fragment="headerFragment">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/styles.css}"/>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="icon" th:href="@{/resources/favicon.ico}" type="image/x-icon"/>
    <!--<link rel="shortcut icon" th:href="@{/resources/favicon.ico}" type="image/x-icon"/>-->
    <meta charset="UTF-8"/>
</head>
<body>

<div id="pageHeader" th:fragment="pageHeader">

    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">SimpleDelivery</a>
                <!-- lang -->
                <!--<a class=".navbar-right" href="?lang=en">en</a> | <a href="?lang=ru">ru</a> -->
            </div>


            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <!--
                    <li class="active"><a th:href="/">HOME</a></li>
                    -->

                    <li sec:authorize="hasRole('ADMIN') or hasRole('MANAGER') or hasRole('USER') or hasRole('INACTIVE_USER')">
                        <a th:href="@{/profile}" th:text="#{nav.profile}"></a>
                    </li>

                    <!-- 2 -->

                    <li class="dropdown">                                           <!-- 3 -->
                        <a th:href="@{/order}" th:text="#{nav.order}" class="dropdown-toggle" data-toggle="dropdown">Order
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a sec:authorize="hasRole('ADMIN') or hasRole('MANAGER') or hasRole('USER')"
                                   th:href="@{/createOrder}" th:text="#{nav.orderCreate}">
                            </a></li>
                            <!-- 3.1 -->
                            <li><a th:href="@{/orderStatus}" th:text="#{nav.orderStatus}"></a></li>
                            <!-- 3.2 -->
                            <!--<li class="divider"></li>-->
                            <!-- separator -->
                            <!--<li><a th:href="@{/howToOrder}" th:text="#{nav.orderHowTo}">How to order</a></li>-->
                            <!-- 3.3 -->
                        </ul>
                    </li>

                    <li><a th:href="@{/warehouses}" th:text="#{nav.warehouses}"></a></li>
                    <!-- 4 -->

                    <li><a th:href="@{/about}" th:text="#{nav.about}"></a></li>
                    <!-- 5 -->


                    <!--(MANAGER)-->
                    <li class="dropdown" sec:authorize="hasRole('ADMIN') or hasRole('MANAGER')">
                        <a th:href="@{/manage}" th:text="#{nav.manage}" class="dropdown-toggle"
                           data-toggle="dropdown">Management<b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/manage/addWarehouse}" th:text="#{nav.addWarehouse}"></a>
                            </li>
                            <li><a th:href="@{/manage/orderList}" th:text="#{nav.orderList}"></a>
                            </li>
                            <th sec:authorize="hasRole('ADMIN')">
                                <!--(ADMIN)-->
                                <li class="divider"></li>
                                <li class="dropdown-header">Admin</li>
                                <li><a th:href="@{/admin/managing}" th:text="#{nav.managingUsers}">Managing users</a>
                                </li>
                            </th>
                        </ul>
                    </li>

                </ul>

                <th th:if="${sec.principal == 'anonymousUser'}">
                    <!-- registration -->
                    <div class="navbar-collapse collapse">
                        <form class="navbar-form navbar-right" role="form" method="GET" th:action="@{/registration}">
                            <button type="submit" class="form-group btn btn-success">
                                <th th:text="#{label.register}"></th>
                            </button>
                        </form>

                        <!-- login -->

                        <form class="navbar-form navbar-right" role="form" method="POST" th:action="@{/login}">
                            <div class="form-group">
                                <input type="text" placeholder="Login" class="form-control" name="username"/>
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control" name="password"/>
                            </div>
                            <button type="submit" class="form-group btn btn-success">
                                <th th:text="#{label.login}"></th>
                            </button>
                        </form>
                    </div>
                </th>
                <!--/anonymousUser -->
                <th th:unless="${sec.principal == 'anonymousUser'}">
                    <div class="navbar-collapse collapse">
                        <form class="navbar-form navbar-right" role="form" method="GET" th:action="@{/logout}">
                            <button type="submit" class="form-control btn btn-success">
                                <th th:text="#{label.logout}">Logout</th>
                            </button>
                        </form>
                        <a class="navbar-link" th:href="@{/profile}">
                            <a class="navbar-text navbar-right" sec:authorize="hasRole('ADMIN')" th:href="@{/profile}">
                                (ADMIN)
                            </a>

                            <a class="navbar-text navbar-right" sec:authorize="hasRole('MANAGER')"
                               th:href="@{/profile}">
                                (MANAGER)
                            </a>

                            <a class="navbar-text navbar-right" th:text="${sec.principal.username}"
                               th:href="@{/profile}"/>
                            <a class="navbar-brand navbar-right" th:href="@{/profile}">
                                <img th:src="@{/resources/anonymous.jpg}" alt="profile_pic" width="25" height="25"/>
                            </a>
                        </a>
                    </div>

                </th>
                <!-- else -->

            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>
</div>
<footer id="center-footer">
    <div id="footerText" class="span12" style="text-align:center">
        <div th:switch="${#locale.language}">
            <p th:case="'en'">
                <a class="label label-info">English</a> | <a href="?lang=ru">Русский</a>
            </p>

            <p th:case="'ru'">
                <a href="?lang=en">English</a> | <a class="label label-info">Русский</a>
            </p>
        </div>
        <br/>

        Copyright 2014 Luxoft Sdeli dev team
    </div>
</footer>
<!-- bootstrap js lib -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>

</html>