<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/dialect"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{mainpage.title}"/>
</head>
<body>

<div class="container indexconteiner">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <div class="container" sec:authorize="hasRole('ADMIN') or hasRole('MANAGER') or hasRole('USER')">
        <h2>
                <th th:text="#{mainpage.jumbotron.greating}"/>
            </h2>
            <p>
            <th th:text="#{mainpage.jumbotron.text}"/>
            </p>
            <p><a class="btn btn-primary btn-lg" role="button" th:href="@{/createOrder}">
                <th th:text="#{mainpage.jumbotron.button}"/>
            </a></p>
        </div>

        <div class="container" sec:authorize="hasRole('INACTIVE_USER')">
            <h2 class="alert alert-info">
                <th th:text="#{mainpage.jumbotron.confirmEmail}"/>
            </h2>
        </div>

        <div class="container" th:if="${sec.principal == 'anonymousUser'}">
            <h2>
                <th th:text="#{mainpage.jumbotron.greating}"/>
            </h2>
            <p>
            <th th:text="#{mainpage.jumbotron.register.text}"/>
            </p>
            <p><a class="btn btn-lg btn-success" role="button" th:href="@{/registration}">
                <th th:text="#{mainpage.jumbotron.register.button}"/>
            </a></p>
        </div>
    </div>

    <div class="col-md-4">
        <h2>
            <th th:text="#{mainpage.firstbox.head}"/>
        </h2>
        <p>
        <th th:text="#{mainpage.firstbox.text}"/>
        </p>
        <p><a class="btn btn-default" th:href="@{/orderStatus}" role="button">
            <th th:text="#{mainpage.firstbox.button}"/>
        </a></p>
    </div>
    <div class="col-md-4">
        <h2>
            <th th:text="#{mainpage.secondbox.header}"/>
        </h2>
        <p>
        <th th:text="#{mainpage.secondbox.text}"/>
        </p>
        <p><a class="btn btn-default" th:href="@{/warehouses}" role="button">
            <th th:text="#{mainpage.secondbox.button}"/>
        </a></p>
    </div>
    <div class="col-md-4">
        <h2>
            <th th:text="#{mainpage.thirdbox.header}"/>
        </h2>
        <p>
        <th th:text="#{mainpage.thirdbox.text}"/>
        </p>
        <p>
            <a class="btn btn-default" th:href="@{/about}" role="button">
                <th th:text="#{mainpage.thirdbox.button}"/>
            </a>
        </p>
    </div>
</div>

<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>