<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{login.title}">Title</title>
</head>
<body>
<div class="container">

    <th th:include="common :: pageHeader"/>
    <div class="jumbotron">
        <div style="padding:0 25%">
            <div tiles:fragment="content">
                <form role="form" name="f" th:action="@{/login}" method="post" class="form-signin">
                    <fieldset>
                        <div th:if="${param.error}" class="alert alert-danger"><th th:text="#{login.page.loginerror}"/></div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out
                        </div>
                        <h2 class="form-signin-heading"><th th:text="#{login.page.greating}"/></h2>

                        <input class="form-control loginform" type="text" id="username" name="username" th:placeholder="#{login.page.loginplaceholder}"/>
                        <input class="form-control loginform" type="password" id="password" name="password" th:placeholder="#{login.page.passwordplaceholder}"/>

                        <a class="col-md-4 forgothref" th:href="@{/forgotEmail}"><th th:text="#{login.page.forgot}"/></a>
                        <div class="form-actions">

                            <button type="submit" class="btn btn-lg btn-primary btn-block loginform-button col-md-4">
                                <th th:text="#{login.page.loginbutton}"/>
                            </button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>