<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{profile.title}">Title</title>

    <style>

    </style>
</head>
<body>

<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <div class="page-header">
            <h2>
                <th th:text="#{profile.text.title}"/>
            </h2>
        </div>


        <ul class="nav nav-tabs">
            <li class="active"><a href="#orders" data-toggle="tab">
                <th th:text="#{profile.tab.orders}"/>
            </a></li>
            <li><a href="#profile" data-toggle="tab">
                <th th:text="#{profile.tab.profile}"/>
            </a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="profile">
                <div class="panel panel-default">
                    <table>
                        <tr>
                            <td>
                                <img th:src="@{/resources/anonymous.jpg}" alt="profile_pic"/>
                            </td>

                            <td>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 lbl">
                                            <div th:text="#{profile.user.login}"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <label th:text="${user.login}"></label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 lbl">
                                            <div th:text="#{profile.user.email}">Email:</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label th:text="${user.email}" class="email-lbl">vasya@pupkin.vp</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 lbl">
                                            <div th:text="#{profile.user.name}">Name:</div>
                                        </div>
                                        <div class="col-md-4">
                                            <label th:text="${user.name}">Vasya Pupkin</label>
                                        </div>
                                    </div>

                                    <!--<div class="row">-->
                                    <!--<div class="col-md-4 lbl">-->
                                    <!--<div th:text="#{profile.user.phone}">Phone:</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4">-->
                                    <!--<label th:text="${user.phone}">+0(000)000-00-00</label>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="tab-pane active" id="orders">
                <div class="panel panel-default">
                    <th th:switch="${user.orders.isEmpty()}">
                        <div th:case="false">
                            <table class="table">
                                <thead>
                                <tr class="center middle">
                                    <th th:text="#{profile.table.number}"></th>
                                    <th th:text="#{profile.table.startlocation}"></th>
                                    <th th:text="#{profile.table.destlocation}"></th>
                                    <th th:text="#{profile.table.status}"></th>
                                    <th th:text="#{profile.table.comment}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order, state: ${user.orders}">
                                    <td><a th:href="@{/order}+'?number=' + ${order.number}" th:text="${order.number}">number</a>
                                    </td>
                                    <td th:text="${order.warehouses[0]}"/>
                                    <td th:text="${order.destination}"/>
                                    <td th:text="${order.orderStatus}"/>
                                    <td th:text="${order.orderComment}"/>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:case="true">
                            <div class="jumbotron orders">
                                <h3>
                                    <th th:text="#{profile.empty.title}"/>
                                </h3>
                                <p>
                                <th th:text="#{profile.empty.text}"/>
                                </p>
                                <p>
                                    <a class="btn btn-primary btn-lg" role="button" th:href="@{/createOrder}">
                                        <th th:text="#{profile.empty.button}"/>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </th>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>