<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{contactspage.title}"/>
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <div class="page-header">
            <h2>
                <th th:text="#{warehouse.page.title}"/>
            </h2>
        </div>


        <div class="panel default-panel">
            <table class="table">
                <thead>
                <tr class="center middle">
                    <th>ID</th>
                    <th th:text="#{warehouse.table.city}"></th>
                    <th th:text="#{warehouse.table.address}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="warehouse : ${warehouses}">
                    <td th:text="${warehouse.id}"></td>
                    <td th:text="${warehouse.city}"></td>
                    <td th:text="${warehouse.address}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>