<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{orderCreate.title}"/>
    <link rel="stylesheet" th:href="@{/resources/jquery-ui-1.10.4.custom.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/jquery-1.10.2.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery-ui-1.10.4.custom.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/order-autocomplite.js}"></script>
</head>

<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <th th:text="#{order.mainpage.message}"/>
        </div>
        <div class="panel-body">
            <form if="orderform" class="form-horizontal" role="form" method="POST" th:action="@{/createOrder}"
                  th:object="${orderDto}">
                <div class="form-group col-md-8">
                    <label for="startLocation" class="col-sm-4 control-label">
                        <th th:text="#{order.startlocation}"/>
                    </label>

                    <div class="col-sm-6">
                        <select class="form-control" th:field="*{startLocation}">
                            <option selected="selected" th:each="warehouse,rowStat : ${warehouses}"
                                    th:text="${warehouse.city} + ', ' + ${warehouse.address}" name="startLocation"
                                    id="startLocation" th:value="${warehouse.id}"/>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label for="destLocation" class="col-sm-4 control-label">
                        <th th:text="#{order.destlocation}"/>
                    </label>

                    <div class="col-sm-6">
                        <select class="form-control" th:field="*{destLocation}">
                            <option selected="selected" th:each="warehouse,rowStat : ${warehouses}"
                                    th:text="${warehouse.city} + ', ' + ${warehouse.address}" name="destLocation"
                                    id="destLocation" th:value="${warehouse.id}"/>
                        </select>
                    </div>
                </div>
                <!--<div class="form-group col-md-8">-->
                <!--<label for="startLocation" class="col-sm-4 control-label">-->
                <!--<th th:text="#{order.startlocation}"/>-->
                <!--</label>-->

                <!--<div class="col-sm-6">-->
                <!--<label class="error" th:if="${#fields.hasErrors('startLocation')}">-->
                <!--<th th:text="#{order.startlocation.error}"/>-->
                <!--</label>-->
                <!--<input type="text" class="form-control" id="startLocation"-->
                <!--th:placeholder="#{order.startlocation}" name="startLocation" th:field="*{startLocation}"-->
                <!--/>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group col-md-8">-->
                <!--<label for="destLocation" class="col-sm-4 control-label">-->
                <!--<th th:text="#{order.destlocation}"/>-->
                <!--</label>-->

                <!--<div class="col-sm-6">-->
                <!--<label class="error" th:if="${#fields.hasErrors('destLocation')}">-->
                <!--<th th:text="#{order.destlocation.error}"/>-->
                <!--</label>-->
                <!--<input type="text" class="form-control" id="destLocation" th:placeholder="#{order.destlocation}"-->
                <!--name="destLocation" th:field="*{destLocation}"/>-->
                <!--</div>-->
                <!--</div>-->
                <div class="form-group col-md-8">
                    <label for="weight" class="col-sm-4 control-label">
                        <th th:text="#{order.weight}"/>
                    </label>

                    <div class="col-sm-6">
                        <label class="error" th:if="${#fields.hasErrors('weight')}">
                            <th th:text="#{order.weigth.error}"/>
                        </label>
                        <input type="text" class="form-control" id="weight" th:placeholder="#{order.weight}"
                               name="weight"
                               th:field="*{weight}" th:errorclass="fieldError"/>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label for="heigh" class="col-sm-4 control-label">
                        <th th:text="#{order.heigh}"/>
                    </label>

                    <div class="col-sm-6">
                        <label class="error" th:if="${#fields.hasErrors('heigh')}">
                            <th th:text="#{order.heigh.error}"/>
                        </label>
                        <input type="text" class="form-control" id="heigh" th:placeholder="#{order.heigh}" name="heigh"
                               th:field="*{heigh}"/>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label for="length" class="col-sm-4 control-label">
                        <th th:text="#{order.length}"/>
                    </label>

                    <div class="col-sm-6">
                        <label class="error" th:if="${#fields.hasErrors('length')}">
                            <th th:text="#{order.length.error}"/>
                        </label>
                        <input type="text" class="form-control" id="length" th:placeholder="#{order.length}"
                               name="length"
                               th:field="*{length}"/>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label for="width" class="col-sm-4 control-label">
                        <th th:text="#{order.width}"/>
                    </label>

                    <div class="col-sm-6">
                        <label class="error" th:if="${#fields.hasErrors('width')}">
                            <th th:text="#{order.width.error}"/>
                        </label>
                        <input type="text" class="form-control" id="width" th:placeholder="#{order.width}" name="width"
                               th:field="*{width}"/>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label for="orderComment" class="col-sm-4 control-label">
                        <th th:text="#{order.comments}"/>
                    </label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="orderComment" th:placeholder="#{order.comments}"
                               name="orderComment" th:field="*{orderComment}"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-default"><th th:text="#{order.create}"/></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>