<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/dialect"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{orderStatus.title}"/>
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <p class="alert alert-success">
            Done successfully
        </p>

        <div th:if="${order!=null and order.id != 0}">
            <table class="table table-condensed">
                <tr>
                    <td>
                    <th th:text="#{order.order}"></th>
                    <th th:text="${order.number}"></th>

                    </td>
                </tr>
                <tr>
                    <td>
                    <th th:text="#{order.to}"></th>
                    <th th:text="${order.destination}"></th>
                    </td>
                </tr>
                <tr>
                    <td>
                    <th th:text="#{order.comment}"></th>
                    <th th:text="${order.orderComment}"></th>
                    </td>
                </tr>
                <tr>
                    <td>
                    <th th:text="#{order.status}"></th>
                    <th th:text="${order.orderStatus}"/>
                    </td>
                </tr>
            </table>

            <div class="panel-heading">
                <th th:text="#{order.history}"></th>
            </div>
            <table class="table table-condensed">
                <tr th:each="warehouse : ${order.warehouses}">
                    <td>
                    <th th:text="#{order.was.in}"></th>
                    <th th:text="${warehouse}"></th>
                    </td>
                </tr>
            </table>
        </div>

        <p class="alert alert-warning" th:if="${order==null}">
        <th th:text="#{status.page.notfound}"/>
        </p>


    </div>

    <div class="jumbotron" sec:authorize="hasRole('ADMIN') or hasRole('MANAGER')">
        <form class="form-horizontal" role="form" method="POST" th:action="@{/manage/changeOrderStatus}">
            <input type="hidden" name="orderNumber" th:value="${order.number}"/>

            <div class="form-group col-md-8">
                <label for="status" class="col-sm-4 control-label">
                    Status
                </label>

                <div class="col-sm-6">
                    <select id="status" class="form-control" th:field="${order.orderStatus}">
                        <option selected="orderStatus" th:each="statusText,rowStat : ${OrderStatus}"
                                name="orderStatus" th:text="${statusText}" th:value="${statusText}" id="status"/>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-default">
                        <th th:text="#{order.change.status}"></th>
                    </button>
                </div>
            </div>
        </form>
        <br/>

        <form class="form-horizontal" role="form" method="POST" th:action="@{/manage/addNewLocation}">
            <input type="hidden" name="orderNumber" th:value="${order.number}"/>

            <div class="form-group col-md-8">
                <label for="location" class="col-sm-4 control-label">
                    Location
                </label>

                <div class="col-sm-6">
                    <select name="warehouseName" id="location" class="form-control">
                        <option th:each="warehouse,rowStat : ${warehouses}"
                                th:text="${warehouse.city} + ', ' + ${warehouse.address}" name="warehouseName"
                                th:value="${warehouse.id}"/>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-default">Add transit point</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>