<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{orderStatus.title}"/>
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <h1><th th:text="#{order.success}"/></h1>
        <p><th th:text="#{order.success.textmessage}"/></p>
        <p><a class="btn btn-primary btn-lg" role="button" th:href="@{/profile}"><th th:text="#{order.statuspage}"/></a></p>
    </div>

</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>