<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{orderStatus.title}"/>
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">

        <form role="form" class="form-inline" th:action="@{/orderStatus}" method="post">
            <div class="form-group">
                <input class="form-control" type="text" th:placeholder="#{status.page.placeholder}" name="orderNumber"/>
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="submit" th:value="#{status.page.sarch}"/>
            </div>
        </form>
        <br/>

        <p class="alert alert-warning" th:if="${order==null}">
        <th th:text="#{status.page.notfound}"/>
        </p>

        <div th:if="${order!=null and order.id != 0}">
            <table class="table table-condensed">
                <tr>
                    <td>
                        <th th:text="#{order.order.num}"/>
                    <th th:text="${order.number}"></th>

                    </td>
                </tr>
                <tr>
                    <td>
                        <th th:text="#{order.to}"/>
                    <th th:text="${order.destination}"></th>
                    </td>
                </tr>
                <tr>
                    <td>
                        <th th:text="#{order.comment}"/>
                    <th th:text="${order.orderComment}"></th>
                    </td>
                </tr>
                <tr>
                    <td>
                        <th th:text="#{order.status}"/>
                    <th th:text="${order.orderStatus}"/>
                    </td>
                </tr>
            </table>

            <div class="panel-heading"><th th:text="#{order.history}"/></div>
            <table class="table table-condensed">
                <tr th:each="warehouse : ${order.warehouses}">
                    <td>
                        <th th:text="#{order.was.in}"/>
                    <th th:text="${warehouse}"></th>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>
</body>
</html>