<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{orderHowTo.title}"/>
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <h1> Ordering is easy </h1>

        <p class="lead">To begin ordering today just sign up for your full account and confirm your email address.</p>

        <p><a class="btn btn-lg btn-success" th:href="@{/registration}" role="button">Sign up today</a></p>
    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>