.error {
        color:red;
        font-style: italic;
}

.fieldError {
    border-color: red;
}

.lbl {
    text-align: left;
    width: 150px;
    margin-left: 50px;
}
.orders {
    margin-bottom: 0px;
}

.indexconteiner {
    margin-bottom: 40px;
}

.indexrow {
    padding-left: 20px;
    padding-right: 20px;
}

.loginform {
    margin-bottom: 5px;
}

.loginform-button {
    width: 100px;
}

.forgothref {
   font-size: 17px;
}

.warehouse {
    height: 400px;
}