<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{addWarehouse.title}"/>
    <!--<link rel="stylesheet" th:href="@{/resources/jquery-ui-1.10.4.custom.css}"/>-->
    <!--<script type="text/javascript" th:src="@{/resources/js/jquery-1.10.2.js}"></script>-->
    <!--<script type="text/javascript" th:src="@{/resources/js/jquery-ui-1.10.4.custom.js}"></script>-->
</head>

<body>
<div class="container">
    <th th:include="common :: pageHeader"/>
    <div class="jumbotron warehouse">
        <!--<h2 class=""> <th th:text="#{warehouse.add.title}"/> </h2>-->
        <div class="page-header">
            <h2>
                <th th:text="#{warehouse.add.title}"/>
            </h2>
        </div>

       <div>
           <form th:action='@{/manage/addWarehouse}' method="post" th:object="${warehouseDto}" role="form">
               <!--city-->
               <div class="form-group col-md-8">
                   <label for="city" class="col-sm-4 control-label">
                       <th th:text="#{warehouse.city}"/>
                   </label>

                   <div class="col-sm-6">
                       <label class="error" th:if="${#fields.hasErrors('city')}">
                           <th th:text="#{warehouse.city.error}"/>
                       </label>
                       <input type="text" class="form-control" id="city" th:placeholder="#{warehouse.city.example}"
                              name="city"
                              th:field="*{city}" th:errorclass="fieldError"/>
                   </div>
               </div>

               <!-- address -->
               <div class="form-group col-md-8">
                   <label for="address" class="col-sm-4 control-label">
                       <th th:text="#{warehouse.address}"/>
                   </label>

                   <div class="col-sm-6">
                       <label class="error" th:if="${#fields.hasErrors('address')}">
                           <th th:text="#{warehouse.address.error}"/>
                       </label>
                       <input type="text" class="form-control" id="address" th:placeholder="#{warehouse.address.example}"
                              name="address"
                              th:field="*{address}" th:errorclass="fieldError"/>
                   </div>
               </div>

               <!-- button OK-->
               <div class="form-group">
                   <div class="col-sm-offset-4 col-sm-10">
                       <button type="submit" class="btn btn-default" value="Add" th:text="#{warehouse.add}">Add</button>
                   </div>
               </div>

           </form>
       </div>
    </div>




    <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
            <!--<th th:text="#{ws.mainpage.message}"/>-->
        <!--</div>-->
        <!--<div class="panel-body">-->

        <!--</div>-->
    <!--</div>-->

</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>