<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="'List of orders'"/>
</head>
<body>

<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <p>

        <div class="panel panel-default">
            <th th:switch="${orders.isEmpty()}">
                <div th:case="false">
                    <table class="table">
                        <thead>
                        <tr class="center middle">
                            <th th:text="#{order.list.number}">Order number</th>
                            <th th:text="#{order.list.user.name}">Username</th>
                            <th th:text="#{order.list.email}">Email</th>
                            <th th:text="#{order.list.destination}">Destination</th>
                            <th th:text="#{order.list.status}">Status</th>
                            <th th:text="#{order.list.comments}">Comments</th>
                            <!--<th th:text="#{order.list.route}"></th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order, state: ${orders}">
                            <td><a th:href="@{/order}+'?number=' + ${order.number}" th:text="${order.number}">number</a>
                            </td>
                            <td th:text="${order.user.name}"/>
                            <td th:text="${order.user.email}"/>
                            <td th:text="${order.destination}"/>
                            <td th:text="${order.orderStatus}"/>
                            <td th:text="${order.orderComment}"/>
                            <!--<td th:text="${order.warehouses[0]}"/>-->

                            <!--<td th:each="wh,rowStat : ${order.warehouses}">-->
                            <!--<th th:text="${wh}"></th>-->
                            <!--</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:case="true">

                    <h2><td th:text="${order.list.no.orders}"></td></h2>
                </div>
            </th>
        </div>
        </p>
    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>