<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{password.change.title}">Title</title>
</head>
<body>
<div class="container">

    <th th:include="common :: pageHeader"/>
    <div class="jumbotron">
        <div style="padding:0 25%">
            <div tiles:fragment="content">
                <form role="form" th:action="@{/changePasswordForm}" method="post">
                    <fieldset>
                        <!--<legend>Enter your new password</legend>-->
                        <h2 class="form-signin-heading"><th th:text="#{password.change.title}"/></h2>
                        <input class="form-control" type="hidden" name="user" th:value="${user}"/>

                        <input class="form-control loginform" type="password" id="username" name="password" th:placeholder="#{password.change.passwordplaceholder}"/>
                        <input class="form-control loginform" type="password" id="password" name="confirmPassword" th:placeholder="#{password.change.retypeplaceholder}"/>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"><th th:text="#{password.change.changebutton}"/></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>