<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{orderStatus.title}"/>
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <p>
        <th th:text="#{email.to.change.password.enter.email}"/>
        </p>

        <form role="form" class="form-inline" th:action="@{/forgotEmail}" method="post">
            <div class="form-group">
                <input class="form-control" type="email" placeholder="email" name="email"/>
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="submit" value="Send"/>
            </div>
        </form>
        <br/>
    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>