<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{orderStatus.title}"/>
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <p>
        <th th:text="#{email.to.change.password.message}"/>
        </p>
        <br/>
    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>