<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th th:include="common :: headerFragment"/>
    <title th:text="#{registration.success.title}"/>
</head>
<body>
<div class="container">
    <th th:include="common :: pageHeader"/>

    <div class="jumbotron">
        <h3 th:text="#{registration.success.message}"></h3>

        <h3>
            <a th:href="@{/}" th:text="#{registration.success.back.to.main.label}"></a>
        </h3>
    </div>
</div>
<div th:include="common :: [//footer[@id='center-footer']]"></div>
</body>
</html>